.gradle
.metadata
.recommenders
.settings
bin/
build/
target/
.classpath
.project
**/.classpath/**
**/.project/**
temp/
Servers
RemoteSystemsTempFiles
bower_components/
node_modules/
**/npm-debug.log/**
npm-debug.log
**/.idea/**
**/.mvn/**
**/.gradle/**
**/*.iml/**
**/translator-*/**
**/log/**
**/out/**
**/*.class
**/*.iml
*.iml
